.headerTitle{
    width: 1024px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.featuredProperty{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.fpItem{
    flex: 1;  
    display: flex;
    gap: 7px;
    flex-direction: column;
}

.fpImg{
    width: 100%;
}

.fpname{
    font-weight: bold;
}

.fpcity{
    font-weight: 300;
}


.fpprice{
    font-weight: 500;
}

.fpRating button{
    background-color: #003580;
    color: white;
    border: none;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 3px;
}

.fpRating span{
    font-size: 14px;
}